<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="common/images/favicon.ico">
<title>Goat Management System</title>

<!-- Bootstrap core CSS -->
<link href="common/css/bootstrap.min.css" rel="stylesheet">
<link href="common/css/font-awesome.css" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="common/css/style.css" rel="stylesheet">

<!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
<!--[if lt IE 9]><script src="common/js/ie8-responsive-file-warning.js"></script><![endif]-->
<script src="common/js/ie-emulation-modes-warning.js"></script>

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
<script type="text/javascript">
var contextPath="";
</script>
</head>

<body>
<div class="content-outer">
<div class="full-wrapper">
  <div class="login-wrap">
  <div class="logo-wrap max-width text-center"><img src="common/images/cattle-logo.png" alt="logo" /></div>
    <h2 class="text-center white login_head">Sign in to Goat Management System</h2>
    <div class="login-wrapper">
    <div class="separator marginT5"></div>
    <div class="sign-in sign-in-container paddingT20">
      <form class="marginT10"  id="cms-userloginform" method="post"  autocomplete="off">
         <div class="input-wrapper login">
				 <input type="text" placeholder="Enter Username " class="my-control form-data border-bottom-line" value=""   id="cms-userlogin-username" name="username" maxlength='30'  required>
				  <input type="password" placeholder="Password" class="my-control form-data" id="cms-userlogin-password" name="password" maxlength='30' required>
				  <input type="submit" value="" class="btn btn-default" id="cms-userloginbtn" name="send">
         	 </div>
         	 <div class="checkbox white text-center">
        <label>
          <input type="checkbox"> Keep Me Logged In
        </label>
      </div>
         <div class="alert alert-danger hidden" role="alert">
<div id="cms-userlogin-error"></div>
</div>
         
       <!--  <input type="submit" class="btn btn-success btn-sm form-control grey-btn" value="Sign in" id="cms-userloginbtn" name="send"> -->
        <div class="clearfix"></div>
        <div class="separator marginT25"></div>
        <div class="login-footer">
        	<ul>
        		<li><a class="small white" data-toggle="modal" data-target="#ForgotModal"  href="#">Forgot Password?</a></li>
        		<li><a class="small white" data-toggle="modal" data-target="#RegisterModal" href="#">Create Account</a></li> 
        	</ul>
         </div>
      </form>
    </div>
  </div>
  </div>
</div>
</div>
<footer class="footer text-center white">
  <p>© 2015 Diomedes Kastanis - All Rights Reserved</p>
</footer>

<!-- Modal -->
<div class="modal cstyle fade" id="RegisterModal" tabindex="-1" role="dialog" aria-labelledby="RegisterLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"><i class="fa fa-user-plus fa-2x"></i> Register</h4>
      </div>
      <div class="modal-body">
            <div class="row ">
            	<div class="col-sm-12">
            		<span id="failed_msg" class="alert alert-danger blocker hidden" role="alert">Failed to Save</span>
            	</div>
            </div>
        <form id="form-newacc">
        <div class="row">
        	<div class="col-sm-6">
        		  <div class="form-group">
            <label for="firstname">First Name <span class="red">*</span></label>
            <input type="text" class="form-control my-control" maxlength="25" id="firstname" placeholder="Enter first name" required>
          </div>
        	</div>
        	<div class="col-sm-6">
        		 <div class="form-group">
            <label for="lastname">Last Name <span class="red">*</span></label>
            <input type="text" class="form-control my-control" maxlength="25" id="lastname" placeholder="Enter last name" required>
          </div>
        	</div>
        </div>
         <div class="row">
        	<div class="col-sm-12">
        		 <div class="form-group">
            <label for="password">Username <span class="red">*</span> </label>
            <input type="text" class="form-control my-control no-white" id="username" placeholder="Username" maxlength="30" required>
          </div>
        	</div>
        </div>
         <div class="row">
        	<div class="col-sm-6">
        		<div class="form-group">
            <label for="password">Password <span class="red">*</span></label>
            <input type="password" class="form-control my-control no-white"   title="Password must contain at least 6 characters, including UPPER/lowercase and numbers."   pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}"  id="password" maxlength="49" placeholder="Password" required>
          </div>
        	</div>
        	<div class="col-sm-6">
        	 <div class="form-group">
            <label for="cpassword">Confirm Password <span class="red">*</span></label>
            <input type="password" class="form-control my-control no-white"   pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}"  id="cpassword" maxlength="49" placeholder="Confirm Password" required>
          </div>
        	</div>
        </div>
         <div class="row">
         <div class="col-sm-6">
        		<div class="form-group">
            <label for="speciality">Speciality <span class="red">*</span></label>
            <input type="text" class="form-control my-control" id="speciality" maxlength="49" placeholder="Enter Speciality" required>
          </div>
        	</div>
        	<div class="col-sm-6">
        		 <div class="form-group">
            <label for="location">Location <span class="red">*</span></label>
            <input type="text" class="form-control my-control" id="location" maxlength="30"  placeholder="Enter location" required>
          </div>
        	</div>
        	
        </div>
         <div class="row">
        	<div class="col-sm-6">
        		<div class="form-group">
            <label for="phone">Phone <span class="red">*</span></label>
            <input class="my-control form-dt nu-only" id="phone" maxlength="15" placeholder="Enter Phone" required/>
          </div> 
        	</div>
        	<div class="col-sm-6">
        		 <div class="form-group">
            <label for="email">E-mail <span class="red">*</span></label>
            <input class="form-control my-control" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"  id="email" maxlength="49" placeholder="Enter email" required />
          </div>  
        	</div>
        </div>
         <div class="row">
        	<div class="col-sm-12">
        			   <div class="form-group">
            <label for="address">Address</label>
            <textarea class="form-control my-control" rows="3" id="address" style="resize:none" maxlength="251" ></textarea>
          </div>
        	</div>
        </div>
          
            <div class="row">
        	<div class="col-sm-12">
        		 <div class="button-holder">
          <span class="pull-left">
          	<label for="type">Type</label>
          </span>
		<ul>
		<li><input type="radio" checked="true" class="regular-radio" name="vettype" value="1" id="vet"><label for="vet"></label>VET</li>
    	<li><input type="radio"  class="regular-radio" name="vettype" value="2" id="paravet"><label for="paravet"></label> PARA VET</li>
	</ul>
	</div>
        	</div>

        </div>
         
         <div class="row">
         	<div class="col-sm-12">
         		<div class="checkbox">
            <label>
              <input type="checkbox" id= "isaccepted">
              <small>Accept our terms and conditions</small> </label>
          </div>
         	</div>
         </div>
       
               
              
          
         
            
        <div class="modal-footer">
        <div class="row">
         		<button type="submit" class="btn btn-success grey-btn pull-left" id="register" disabled="disabled">Register</button>
        </div>
        
      </div>
        </form>
      </div>
 
    </div>
  </div>
</div>
<div class="modal cstyle fade" id="ForgotModal" tabindex="-1" role="dialog" aria-labelledby="ForgotLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
            
    <form  id="forgotPasswordForm">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"><i class="fa fa-lock fa-2x"></i> Forgot Password ?</h4>
        <div class="alert alert-danger modalFormMsg-alert" role="alert" style="display: none;" >
      		<div class="modalFormMsg"></div>
    	</div>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="forgotPassword">Enter Your Email</label>
          <input type="text" class="form-control my-control" id="forgotPassword" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" placeholder="Enter email"  maxlength='40' required>
        </div>
        <div class="preLoader text-center hidden"><i class="fa fa-2x fa-spinner fa-spin-custom"></i></div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-success grey-btn pull-left">Send</button>
       </div>
      </form>
    </div>
  </div>
</div>

<!-- For reset password -->
<div class="modal cstyle fade" id="resetPassword" tabindex="-1" role="dialog" aria-labelledby="resetPasswordLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
            
    <form  id="resetPasswordForm">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"><i class="fa fa-lock fa-2x"></i> Reset Password</h4>
        <div class="alert alert-danger modalFormMsg-alert" role="alert" style="display: none;" >
      		<div class="modalFormMsg"></div>
    	</div>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="resetPassword">Enter your new password</label>
          <input type="password" class="form-control my-control" id="resetPasswordText"  placeholder="Enter password"  maxlength='10' title="Password must contain at least 6 characters, including UPPER/lowercase and numbers."  pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" required>
        </div>
      
        <div class="form-group">
          <label for="resetPassword">Confirm Password</label>
          <input type="password" class="form-control my-control" id="cnfrmPasswordText"  placeholder="Confirm Password" required>
        </div>
      </div>
      <div class="modal-footer">
        <input type="submit" class="btn btn-success grey-btn pull-left" value="Reset"/>
      </div>
      </form>
    </div>
  </div>
</div>

<div class="modal cstyle fade" id="CommingSoonModal" tabindex="-1" role="dialog" aria-labelledby="ForgotLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <div class="form-group">
		<h3>Coming Soon</h3>
		<!-- <div><img src="common/images/Coming_Soon.jpg" alt="logo"/></div> -->
        </div>
      </div>
      <div class="modal-footer">
       
      </div>
    </div>
  </div>
</div>
<div class="modal cstyle fade" id="Approval" tabindex="-1" role="dialog" aria-labelledby="ApprovalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
      	<h2 class="text-center"><i class="fa fa-check-square"></i> Thanks for Registering</h2>
        <h3 class="text-center">Your request is awaiting Admin Approval...</h3>
      </div>
    </div>
  </div>
</div>

<!-- Bootstrap core JavaScript
    ================================================== --> 
<!-- Placed at the end of the document so the pages load faster --> 
<script src="common/js/jquery.min.js"></script> 
<script src="common/js/bootstrap.min.js"></script> 

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug --> 
<script src="common/js/ie10-viewport-bug-workaround.js"></script>


<!-- polyfill is added for html5 validation in safri and IE -->
<script src="common/js/lib/polyfiller-shims/polyfiller.js"></script>
 


<!-- CMS scripts  -->

<script src="vet/js/cms-vet-cons.js"></script> 
<script src="vet/js/vet-signup.js"></script> 
<script src="common/js/scripts.js"></script> 
<script src="common/js/cms-com.js"></script>
<script src="common/js/cms-storage.js"></script> 
<script src="common/js/cms-login.js"></script> 


</body>
</html>
