<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
  
<hibernate-configuration>
	    <session-factory>
	    <!-- hospital -->
	    <mapping class="com.app.hospital.entity.SpecializationsEntity" />
	    
	    <!-- usermanagement -->
		<mapping class="com.app.usermanagement.entity.RoleEntity" />
    </session-factory>
</hibernate-configuration>
