<section class='inner-cont-sec' id="cms-milk-production"  class="hidden">
  <div class="col-lg-12">
  <div class="pull-right"> <a class="btn btn-default" href="javascript:void(0)" onclick="window.history.back();"> <i class="fa fa-arrow-circle-o-left"></i> Back</a> </div>
       <h2 id="cmsMilkProduction">Add Milk Production</h2>

     </div>
          <div class="block">
          <div class="row">
          <div class="col-sm-12">
          
       <form id="milk-production-form" method="post"  autocomplete="off">
            
      
      <div class="form-group">
        <div class="col-md-3"><label for="mp-date">Date Of Lactation  <span class="red">*</span></label></div>
        <div class="col-md-6"><input type="text"  class="my-control form-dt" name="milkproddt" id="milkproddt" placeholder="Enter Date Of Lactation"  ></div>
        <div class="col-md-3 red cms-ipt-error"><small>*Select Date Of Lactation </small></div>
      </div> 
            
  	 <div class="form-group"> 
	    <div class="col-md-3">
	    <label> Farm <span class="red">*</span></label>     
	     </div>
    	<div class="col-md-6">
     		<select data-placeholder="Select a Farm "  class="form-control chzn-select"  name="mp-addFarm" tabindex="2" id="mp-addFarm" >
             <option value=""></option>
         </select>     
         </div>   
          <div class="col-md-3 red cms-ipt-error" id="er-mp-farm"><small>*Select a Farm </small></div>             
     </div>  
     
     <div id="doeParent" class="hidden" >
	      <div class="form-group">
	      <div class="col-md-3">
	       <label> Doe <span class="red">*</span></label> 	         
	      </div> 
	        <div class="col-md-6">
	          <select data-placeholder="Select a Doe " class="form-control form-dt-refer"  data-field="cattleid"  data-refer="objdoe"   tabindex="2" id="mkDoeId"  >
	             <option value=""></option>
	         </select> 
	        </div>  
	        <div class="col-md-3 red cms-ipt-error"><small>*Enter </small></div>       
	     </div>  
	  </div>  
     
              
     <div class="form-group">
     	<div class="col-md-3"><label for="mp-count">Milk Quantity<span class="red">*</span></label></div>
       <div class="col-md-6"><input type="text" class="my-control form-dt pos-float-only" name="milkprodqty" id="milkprodqty" placeholder="Enter milk in ltrs" min="1" maxlength='15' ></div> 
          <div class="col-md-3 red cms-ipt-error"><small>*Enter Milk Count </small></div>
     </div>
     
     <div class="form-group">
     	<div class="col-md-3"><label for="mp-count">Comments</label></div>
        <div class="col-md-6"><textarea rows="4" cols="50" class="my-control form-dt" name="milkprodcomments" id="milkprodcomments" placeholder="Enter your comments" maxlength='251'  ></textarea></div> 
          
     </div>
     
       	
	<div class="clearfix"></div>
           <div class="col-md-12">
           		<input type="hidden"  class="my-control form-dt" name="createddt" id="mp-createddt" >
            	<input type="hidden" class="form-dt-num" name="cattleid" value="0" id="cattleid" />
            	 	<input type="hidden"  name="milkprodId" value="0" id="milkprodId" />
              	<input type="submit" class="btn btn-success grey-btn " value="Save" id="mp-saveBtn"/>
                <input type="button" class="btn btn-default  " value="Reset"  id="mp-resetBtn"/>
          </div>  
        		
            </form>
     </div>
     </div>
   </div>
        
 </section>