<div class="col-sm-12">
    <h2>Milk Production Details</h2>
</div>  
    <div class="col-sm-12">
    <div class="col-md-12"> 
		    <div class="text-right">
    				<a href="javascript:void(0)" onclick="window.history.back();" >
					<i class="fa fa-arrow-circle-o-left"></i> Back</a>	
					<a href ="" id="view-mp-edit-link" ><i class='fa fa-pencil-square-o'></i> Edit</a> 		
   			 </div>
    	        		 
					</div>
			    <div class="col-md-12 "> 		
		<ul class="detailed-view">
	        <li>
	        	<div class="col-md-4"><b>Milk Production Id</b><span class="pull-right paddingR20 hidden-xs">:</span></div>
	        	 <div class="col-md-6 cattleDtlsViewColn" id="view-mp-milkprodid" ></div>
	        	 
	        </li>
	        <li>
	        	<div class="col-md-4"><b>Farm Name</b><span class="pull-right paddingR20 hidden-xs">:</span></div>
	        	 <div class="col-md-8 cattleDtlsViewColn-custom"  id="view-mp-farmname"></div>
	        </li>
	         <li>
	        	<div class="col-md-4"><b>Doe Id</b><span class="pull-right paddingR20 hidden-xs">:</span></div>
	        	 <div class="col-md-8 cattleDtlsViewColn-custom" id="view-mp-doeId"></div>
	        </li>
	        <li>
	        	<div class="col-md-4"><b>Date Of Milk Production</b><span class="pull-right paddingR20 hidden-xs">:</span></div>
	        	 <div class="col-md-8 cattleDtlsViewColn"  id="view-mp-milkproddt"></div>
	        </li>
	        <li>
	        	<div class="col-md-4"><b>Quantity</b><span class="pull-right paddingR20 hidden-xs">:</span></div>
	        	 <div class="col-md-8 cattleDtlsViewColn-custom"  id="view-mp-milkprodqty"></div>
	        </li>
	        
	         <li>
	        	<div class="col-md-4"><b>Comments</b><span class="pull-right paddingR20 hidden-xs">:</span></div>
	        	 <div class="col-md-8 cattleDtlsViewColn viewmkPrdtsComments"  id="view-mp-milkprodcomments"> </div>
	        </li>
	         
	        
    	</ul>
    		</div>
    </div> 