<section class='inner-cont-sec' id="cms-goat-report" class="hidden">
	<div class="col-lg-12">
		<h3 id="cmsGoatReportTitle">Goat Report</h3>

	</div>

	<div class="block">
		<div class="row">
			<div class="col-sm-12">

				<form id="goat-report-form" method="post" autocomplete="off">


					<div class="form-group">
						<div class="col-md-3">
							<label for="fromGoatreportdt">From D.O.B <span class="red">*</span></label>
							<input type="text" class="my-control form-dt"
								name="fromGoatreportdt" id="fromGoatreportdt"
								placeholder="Enter From Date" >
						</div>



						<div class="col-md-3">
							<label for="toGoatreportdt">To D.O.B <span class="red">*</span></label> <input
								type="text" class="my-control form-dt" name="toGoatreportdt"
								id="toGoatreportdt" placeholder="Enter To Date " >
						</div>



						<div class="col-md-3">
							<label> Farm <span class="red"></span></label> <select
								data-placeholder="Select a Farm "
								class="form-control chzn-select" name="gr-Farm" tabindex="2"
								id="gr-Farm" >
								<option value=""></option>
							</select>
						</div>


			
						<div class="col-md-3">
						<input type="submit" class="btn btn-success grey-btn ow-goat-report" value="Go"
							id="gr-goBtn" />
						<input type="button" class="btn btn-default ow-goat-report" value="Reset"
							id="gr-resetBtn" />
							
					</div>

				</form>
			</div>
		</div>
	</div>
	
	

</section>