	<section class='inner-cont-sec' id="cms-add-cattle"  class="hidden">
        <div class="col-lg-12">
        <div class="pull-right"> <a class="btn btn-default" href="javascript:void(0)" onclick="window.history.back();"> <i class="fa fa-arrow-circle-o-left"></i> Back</a> </div>
       <h2 id="cmsCattleSaveTitle">Add Cattle</h2>

       </div>
          <div class="block">
          <div class="col-sm-12">
          
            <form id="cms-saveCattle-form" method="post"  autocomplete="off">
            
  
       <div class="form-group hidden" id="cattleEarTagReadonly">
     	<div class="col-md-3"><label for="cattlelocation">Goat Ear Tag</label></div>
       <div class="col-md-6"><input type="text"    class="my-control" name="cattleEarTag" id="cattleEarTag" maxlength='30'  readonly="readonly"></div> 
          <div class="col-md-3 red cms-ipt-error"><small>*Enter </small></div>
     </div>
     
              
      <div class="form-group">
        <div class="col-md-3"><label for="addcattledob">Date of Birth <span class="red">*</span></label></div>
        <div class="col-md-6">
        <div class="input-group">
        	 <input type="text"  class="my-control form-dt" name="cattledob" id="cattledob" placeholder="Enter Date of Birth" maxlength='30'  >
             <span class="input-group-addon" id="cattledob-calen"><i class="fa fa-calendar"></i></span>
               </div>
        </div>
        <div class="col-md-3 red cms-ipt-error"><small>*Enter Date of Birth</small></div>
      </div> 
      
       <div id="cattleParent"  >
	      <div class="form-group">
	      <div class="col-md-3">
	       <label> Doe </label> 	         
	      </div> 
	     <div class="col-md-3">
     		<select data-placeholder="Choose  Doe's Farm " class="form-control chzn-select addOrUpdateCattleFarm " name="cattleDoefarmSelect" tabindex="2" id="cattleDoefarmSelect">
             <option value=""></option>
            </select>     
         </div>   
	        <div class="col-md-3">
	          <select data-placeholder="Select a Doe " class="form-control form-dt-refer" data-refer="doecattle" data-field="cattleid" name="cattledoeid" tabindex="2" id="cattleDoefarmSelect-option" >
	             <option value=""></option>
	         </select> 
	        </div>  
	        <div class="col-md-3 red cms-ipt-error"><small>*Enter </small></div>       
	     </div>   
	     
	     <div class="form-group"> 
	     <div class="col-md-3">
	     	 <label> Buck </label>    
	     </div> 
	    	<div class="col-md-3">
     		<select data-placeholder="Choose  Buck's Farm " class="form-control chzn-select addOrUpdateCattleFarm " name="cattleBuckfarmSelect" tabindex="2" id="cattleBuckfarmSelect">
             <option value=""></option>
            </select>     
         </div>   
	      <div class="col-md-3">
	      	 <select data-placeholder="Select a Buck " class="form-control   form-dt-refer" data-refer="buckcattle" data-field="cattleid" name="cattlebuckid" tabindex="2" id="cattleBuckfarmSelect-option">
	             <option value=""></option>
	         </select> 
	      </div>   
	      <div class="col-md-3 red cms-ipt-error"><small>*Enter </small></div>  
	      </div>   
     
     </div> 
      
         <div class="form-group"> 
	    <div class="col-md-3">
	    <label> Farm <span class="red">*</span></label>     
	     </div>
    	<div class="col-md-6">
     		<select data-placeholder="Select a Farm " class="form-control chzn-select form-dt-refer addOrUpdateCattleFarm" data-refer="farm" data-field="farmid" name="cattlefarmid" tabindex="2" id="addCattleSelectFarm">
             <option value=""></option>
         </select>     
         </div>   
          <div class="col-md-3 red cms-ipt-error" id="ipt-er-cattlefarmid"><small>*Select a Farm </small></div>             
     </div>  
       
      <div class="form-group">
     	<div class="col-md-3"><label for="cattlelocation">Goat Code</label></div>
       <div class="col-md-6"><input type="text"    class="my-control form-dt" name="cattlecode" id="cattleCode" placeholder="Enter Goat Code" maxlength='30' ></div> 
          <div class="col-md-3 red cms-ipt-error"><small>*Enter </small></div>
     </div>
              
     <div class="form-group">
     	<div class="col-md-3"><label for="cattlelocation">Location </label></div>
       <div class="col-md-6"><input type="text"    class="my-control form-dt" name="cattlelocation" id="cattlelocation" placeholder="Enter Location" maxlength='30' ></div> 
          <div class="col-md-3 red cms-ipt-error"><small>*Enter </small></div>
     </div>
     
    <div class="form-group">
     	<div class="col-md-3"><label for="cattlelatt">Latitude </label></div>
       <div class="col-md-6"><input type="text"  class="my-control form-dt" name="cattlelatt" id="cattlelatt" placeholder="Enter Latitude " maxlength='10' ></div> 
      <div class="col-md-3 red cms-ipt-error"  id="ipt-er-cattlelatt"><small>*Enter </small></div>
     </div>
     
    <div class="form-group">
     	<div class="col-md-3"><label for="cattlelong">Longitude </label></div>
       <div class="col-md-6"><input type="text"  class="my-control form-dt" name="cattlelong" id="cattlelong" placeholder="Enter Longitude" maxlength='10' ></div> 
    	<div class="col-md-3 red cms-ipt-error"  id="ipt-er-cattlelong"><small>*Enter </small></div>
     </div>
              
    <div class="form-group">
     	<div class="col-md-3"><label for="cattlelandmark">Landmark </label></div>
       <div class="col-md-6"><input type="text"   class="my-control form-dt" name="cattlelandmark" id="cattlelandmark" placeholder="Enter Landmark" maxlength='30' ></div> 
    	<div class="col-md-3 red cms-ipt-error"><small>*Enter </small></div>
     </div>        
    <div class="form-group form-dt-radio-holder">
	         
	  <div class="block">
	  <div class="col-md-3"><label>Gender </label>  </div>
		<div class="col-md-3">
			 <div class="radio">
		      <label><input type="radio" class="form-dt-radio" name="cattlegender" value="M" checked>Male</label>
		    </div>
		</div>
		<div class="col-md-3">
		     <div class="radio">
		      <label><input type="radio" class="form-dt-radio" name="cattlegender" value="F">Female</label>
		    </div>
		</div>   
	   </div>
	</div>
	         
	<div class="form-group form-dt-radio-holder">
	      
	  <div class="block">
	  <div class="col-md-3"> <label>Category </label>    </div>
		<div class="col-md-3">
			 <div class="radio">
		      <label><input type="radio" class="form-dt-radio" name="cattlecategory" value="K" checked>Kid</label>
		    </div>
		</div>
		<div class="col-md-3">
		     <div class="radio">
		      <label><input type="radio" class="form-dt-radio" name="cattlecategory" value="A">Adult</label>
		    </div>
		</div>   
	   </div>
	</div>    
 
 
     
     
    
                 
             
       <div class="form-group">
	       <div class="col-md-3">
	       		 <label for="farmlocation">Status </label>
	       </div>
	       <div class="col-md-8">
	       	<div class="on-off-toggle">
				<ul id="btn-toggler" class="form-dt-onOff" data-input-name="cattlestatus">
				    <li class="btn-on-off" data-val="false"><a href="javascript:void(0)">Inactive</a></li>
				    <li class="on btn-on-off"  data-val="true" ><a href="javascript:void(0)">Active</a></li>
				</ul>
				</div>
				<div class="clearfix"></div>
	       </div>       
        </div>

		<div id="uploadCattleImgHolder" class="col-md-12">
		
		
		</div>
           
		 <div class="form-group">
		 	<div class="col-md-3">
      		 <label for="cattleImageFile">Upload Image </label>
      		 <small><span class="block red hidden">Maximum 4 images </span></small>
      		</div>
	        <div class="col-md-1">
	        <span class="btn btn-default btn-file pull-left"><i class="fa fa-cloud-upload fa-2x"></i><input type="file" id="cattleImageFile"></span>   
	        
	        </div>
			<div class="col-md-5 col-xs-12 red cms-ipt-error" id="cattleImageFile-erMsg"><small> </small></div>  
		 </div>	
			 	
		<div class="clearfix"></div>
            <div class="col-md-12">
             <input type="hidden" class="form-dt-num" name="cattleid" value="0" id="cattleid" />
            <input type="hidden" class="form-dt-num" name="cattleid" value="0" id="cattleid" />
              	<input type="submit" class="btn btn-success grey-btn " value="Save" id="cms-saveCattleBtn"/>
                <input type="button" class="btn btn-default  " value="Reset"  id="cms-resetFarmBtn"/>
            </div>  
        		
            </form>
          </div>
          </div>
        
       </section>