<!-- Add Kid Breeding  -->
<div class="modal cstyle fade" id="breedAddKidModal" tabindex="-1" role="dialog" aria-labelledby="RegisterLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title cmsModalTitle" >Add Kid </h4>
        <div class="alert alert-danger modalFormMsg-alert" role="alert">
      		<div class="modalFormMsg"></div>
    	</div>
        		
      </div>
      <div class="modal-body">
            <div class="row ">
            	<div class="col-sm-12">
            		<span id="failed_msg" class="alert alert-danger blocker hidden" role="alert">Failed to Save</span>
            	</div>
            </div>
  
        <form id="cms-savebreedAddKidDtls-form" method="post"  autocomplete="off">
        
            
        
        <div class="row">
        	<div class="col-sm-6">
        	<div class="form-group">
           	 	<label for="password">Date Of Birth<span class="red">*</span></label>
           	 	   <div class="input-group">
            	<input type="text" class="form-control my-control form-dt-date disbaledFormField" maxlength="49" id="breed-cattledob" name="cattledob" placeholder="Date Of Birth" required>
            	   <span class="input-group-addon" id="breed-cattledob-calen"><i class="fa fa-calendar"></i></span>
               </div>
          	</div>
        	</div>
        	<div class="col-sm-6">
        		 <div class="button-holder form-group">
		       
		          	<label for="type">Gender</label>
		         
					<ul class="form-dt-radio-holder">
						<li><input type="radio" checked="true" class="regular-radio form-dt-radio" name="cattlegender" value="M"  id="breed-cattlegenderM"><label for="breed-cattlegenderM"></label>Male</li>
			    		<li><input type="radio"  class="regular-radio form-dt-radio" name="cattlegender" value="F"  id="breed-cattlegenderF"><label for="breed-cattlegenderF"></label> Female</li>
					</ul>
				</div>
        	</div>
        </div>
        
        <div class="row">
        	
        	  	<div class="col-md-6">
        	  	
        	  	<div class="form-group"> 
        	  	<label for="select-farm">Select Farm<span class="red">*</span></label>
			     		<select data-placeholder="Select a Farm " class="form-control chzn-select form-dt-refer" data-refer="farm" data-field="farmid" name="cattlefarmid" tabindex="2" id="breedingKidCattleSelectFarm">
			             <option value=""></option>
			         	</select> 
         	</div>    
         	</div>   
          <div class="col-md-3 red cms-ipt-error" id="ipt-er-cattlefarmid"><small>*Select a Farm </small></div> 
          	<div class="col-sm-6">
        		  <div class="form-group">
            	 <label for="Latitude">Weight </label>
            	 <input type="text" class="form-control my-control form-dt-num  float-only" maxlength="5" name="breedkidsweight" id="breedkidsweight"  placeholder="Weight" >
           		</div>
        	</div>  
        	
        </div>
        
        	<div class="row">
        	<div class="col-sm-6">
        		 <div class="form-group">
            <label for="lastname">Nursing Lactation Date</label>
             <div class="input-group">
            <input type="text" class="form-control my-control form-dt-date disbaledFormField" maxlength="10" name="breedkidsnurlactdt" id="breedkidsnurlactdt"  placeholder="Nursing Lactation Date">
                     	   <span class="input-group-addon" id="breedkidsnurlactdt-calen"><i class="fa fa-calendar"></i></span>
               </div>
          </div>
        	</div>
        	
        	<div class="col-sm-6">
        		  <div class="form-group">
            	 <label for="Latitude">Weaning Date </label>
            	  <div class="input-group">
            	 <input type="text" class="form-control my-control form-dt-date disbaledFormField" maxlength="10" name="breedkidsweaningdt" id="breedkidsweaningdt" placeholder="Weaning Date " >
                       	   <span class="input-group-addon" id="breedkidsweaningdt-calen"><i class="fa fa-calendar"></i></span>
               </div>
           </div>
        	</div>
        	
        </div>
        
        
        <div class="row">
        
        	<div class="col-sm-6">
        		 <div class="form-group">
            	<label for="lastname">Location</label>
            	<input type="text" class="form-control my-control form-dt" maxlength="30"  name="cattlelocation" id="breed-cattlelocation" placeholder="Location" >
          		</div>
        	</div>
        	
        	<div class="col-sm-6">
        		 <div class="form-group">
           		 <label for="lastname">Landmark</label>
            	<input type="text" class="form-control my-control form-dt" maxlength="30"  name="cattlelandmark" id="breed-cattlelandmark" placeholder="Landmark" >
          		</div>
        	</div>
        </div>
        <div class="row">
        	<div class="col-sm-6">
        		  <div class="form-group">
            	 <label for="Latitude">Latitude</label>
            	 <input type="text" class="form-control my-control form-dt" maxlength="10" name="cattlelatt" id="breed-cattlelatt" placeholder="Latitude" >
           </div>
        	</div>
        	<div class="col-sm-6">
        		 <div class="form-group">
            <label for="lastname">Longitude</label>
            <input type="text" class="form-control my-control form-dt" maxlength="10" name="cattlelong" id="breed-cattlelong" placeholder="Longitude" >
          </div>
        	</div>
        </div>

        
            
        <div class="modal-footer">
	        <div class="row">
	          <input type="hidden"  class="form-dt" name="cattlecode" value="true" id="breeding-cattlecode" /> 
	        <input type="hidden"  class="form-dt" name="cattlestatus" value="true" id="breeding-cattlestatus" /> 
	        <input type="hidden" class="form-dt"  name="cattlecategory" value="K" id="breeding-cattlecategory" /> 
	         <input type="hidden" class="form-dt"  name="createddt" value="K" id="breeding-Kidcreateddt" /> 
	        
	          		<input type="hidden"  name="breeding-cattleid" value="0" id="breeding-cattleid" /> 
	          		<input type="hidden" class=""  name="id" value="0" id="breeding-kidid" /> 
	          		
	         		<input type="submit" class="btn btn-success grey-btn pull-left" id="breedingaddKid" value="submit"/>
	         		<input type="button" class="btn btn-default  pull-left" id="breedingaddKidReset" value="reset"/>
	         		<input type="button" class="btn btn-danger  pull-left" id="breedingaddKidCancel" value="cancel"/>
	        </div>	        
     	 </div>
        </form>
      </div>
 
    </div>
  </div>
</div>