<!-- /col-sm-6 -->
<div class="col-sm-12">
    <h2>Breeding Details</h2>
</div>  
    <div class="col-sm-12">
    <div class="col-md-12"> 
		    <div class="text-right">
    				<a href="javascript:void(0)" onclick="window.history.back();" >
					<i class="fa fa-arrow-circle-o-left"></i> Back</a>	
					<a href="" id="view-breeding-editlink">
					<i class="fa fa-pencil-square-o"></i> Edit</a>		
   			 </div>
    	        		 
					</div>
			    <div class="col-md-12 "> 		
		<ul class="detailed-view">
			 <li>
	        	<div class="col-md-4"><b>Date of Breeding</b><span class="pull-right paddingR20 hidden-xs">:</span></div>
	        	 <div class="col-md-6" id="view-breeding-date"></div>	        	 
	        </li>
	        
	        <li>
	        	<div class="col-md-4"><b>Ear Tag of Doe</b><span class="pull-right paddingR20 hidden-xs">:</span></div>
	        	 <div class="col-md-6" id="view-breeding-doe"></div>	        	 
	        </li>
	       <li>
	        	<div class="col-md-4"><b>Ear Tag of Buck </b><span class="pull-right paddingR20 hidden-xs">:</span></div>
	        	 <div class="col-md-6" id="view-breeding-buck"></div>	        	 
	        </li>	
	       <li>
	        	<div class="col-md-4"><b> Start of Lactation </b><span class="pull-right paddingR20 hidden-xs">:</span></div>
	        	 <div class="col-md-6" id="view-breeding-StartofLactation"></div>	        	 
	        </li>
			<li>
	        	<div class="col-md-4"><b> End of Lactation </b><span class="pull-right paddingR20 hidden-xs">:</span></div>
	        	 <div class="col-md-6" id="view-breeding-EndofLactation"></div>	        	 
	        </li>
	        
	        <li>
	        	<div class="col-md-4"><b> Date of Abortion </b><span class="pull-right paddingR20 hidden-xs">:</span></div>
	        	 <div class="col-md-6" id="view-breeding-DateofAbortion"></div>	        	 
	        </li>
	        
	        <li>
	        	<div class="col-md-4"><b> No of Aborted Kids </b><span class="pull-right paddingR20 hidden-xs">:</span></div>
	        	 <div class="col-md-6" id="view-breeding-NoofAbortedKids"></div>	        	 
	        </li>
	        
	        <li>
	        	<div class="col-md-4"><b> No of Kids </b><span class="pull-right paddingR20 hidden-xs">:</span></div>
	        	 <div class="col-md-6" id="view-breeding-NoofKids"></div>	        	 
	        </li>
    	</ul>
    		</div>
    </div> <!-- /col-sm-6 -->
    
    
    
    
<!-- Kids Details starts here  -->
<div id="view-breedingKidsDataTableHolder" >

<div class="col-sm-12">
    <h3>Kids Details</h3>
</div>     
 <div class="col-sm-12 owner-farm"  >
	<table cellpadding="0" cellspacing="0" border="0" class="table table-striped owner-farm " id="view-breedingKidsDataTable">
	 <thead>
		<tr>
			<th>Breeding Id</th>
			<th>Ear Tag Id</th>
			<th>Weight</th>
			<th>Gender</th>
			
			<th>Date Of  Birth</th>
			<th>Date Of Weaning</th>

		
			
			</tr>
		</thead>			
		<tbody>
		
		</tbody>				
	</table>     
</div>
</div>
<!-- Kids Details ends here  -->

    
    
    
    