<div class="col-sm-4">
    <div class="slider-block">
	    <div id="carousel" class="carousel slide">
	        <div class="carousel-inner" id="cattleOverViewImg"></div>   
	    </div>
	   
	         
	        
	    <div class="option-buttons hidden">
		    <ul id="cattleThumbImg">
		    	<li><button class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Set as Primary"><i class="fa fa-check-square fa-2x"></i></button></li>
		        <li><button class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Delete Image"><i class="fa fa-trash fa-2x"></i></button></li>
		        <li data-toggle="tooltip" data-placement="top" title="Upload"><span class="btn btn-default btn-file"><i class="fa fa-cloud-upload fa-2x"></i><input type="file"></span>
		        </li>
		    </ul>
	    </div>
	        
	    <div class="clearfix">
	        <div id="thumbcarousel" class="carousel slide" data-interval="false">
	            <div class="carousel-inner" id="cattleViewThumbHolder">
	              
	
	            </div><!-- /carousel-inner -->
	            <a class="left carousel-control imagePrevBtn" href="#thumbcarousel" role="button" data-slide="prev">
	                <span class="glyphicon glyphicon-chevron-left"></span>
	            </a>
	            <a class="right carousel-control imageNextBtn" href="#thumbcarousel" role="button" data-slide="next">
	                <span class="glyphicon glyphicon-chevron-right"></span>
	            </a> <!-- -->
	        </div> <!-- /thumbcarousel -->
	    </div>
    
   </div><!-- /clearfix -->
   
</div> <!-- /col-sm-6 -->
    <div class="col-sm-8">
    <div class="col-md-12"> 
		    <div class="text-right">
    				<a href="javascript:void(0)" onclick="window.history.back();" >
					<i class="fa fa-arrow-circle-o-left"></i> Back</a>			
					<a href="javascript:void(0);" class="edit-link-cattle-dtls" id="cattleEditLinkID" data-cattle-id="">
					<i class="fa fa-pencil-square-o"></i> Edit</a>
   			 </div>
    	        		 
					</div>
			    <div class="col-md-12 "> 		
		<ul class="detailed-view">
	        <li>
	        	<div class="col-md-4"><b>Ear Tag Id</b><span class="pull-right paddingR20 hidden-xs">:</span></div>
	        	 <div class="col-md-6 cattleDtlsViewColn" data-view-key="cattleeartagid"></div>
	        	 
	        </li>
	        <li>
	        	<div class="col-md-4"><b>Farm Name</b><span class="pull-right paddingR20 hidden-xs">:</span></div>
	        	 <div class="col-md-8 cattleDtlsViewColn-custom" data-view-key="farm.farmname" id="view-farmfarmname"></div>
	        </li>
	         <li>
	        	<div class="col-md-4"><b>Date of Birth</b><span class="pull-right paddingR20 hidden-xs">:</span></div>
	        	 <div class="col-md-8 cattleDtlsViewColn" data-view-key="cattledob"></div>
	        </li>
	        <li>
	        	<div class="col-md-4"><b>Gender</b><span class="pull-right paddingR20 hidden-xs">:</span></div>
	        	 <div class="col-md-8 cattleDtlsViewColn-custom" data-view-key="cattlegender" id="view-cattlegender"></div>
	        </li>
	        <li>
	        	<div class="col-md-4"><b>Category</b><span class="pull-right paddingR20 hidden-xs">:</span></div>
	        	 <div class="col-md-8 cattleDtlsViewColn-custom" data-view-key="cattlecategory" id="view-cattlecategory"></div>
	        </li>
	        
	         <li>
	        	<div class="col-md-4"><b>Longitude</b><span class="pull-right paddingR20 hidden-xs">:</span></div>
	        	 <div class="col-md-8 cattleDtlsViewColn" data-view-key="cattlelong"></div>
	        </li>
	         <li>
	        	<div class="col-md-4"><b>Latitude</b><span class="pull-right paddingR20 hidden-xs">:</span></div>
	        	 <div class="col-md-8 cattleDtlsViewColn" data-view-key="cattlelatt"></div>
	        </li>
	         <li>
	        	<div class="col-md-4"><b>Landmark</b><span class="pull-right paddingR20 hidden-xs">:</span></div>
	        	 <div class="col-md-8 cattleDtlsViewColn" data-view-key="cattlelandmark">NA</div>
	        </li>	
	        <li>
	        	<div class="col-md-4"><b>Location</b><span class="pull-right paddingR20 hidden-xs">:</span></div>
	        	 <div class="col-md-8 cattleDtlsViewColn" data-view-key="cattlelocation">NA</div>
	        </li>	
	        
	         <li>
	        	<div class="col-md-4"><b>Status</b><span class="pull-right paddingR20 hidden-xs">:</span></div>
	        	 <div class="col-md-8 cattleDtlsViewColn-custom" data-view-key="cattlestatus" id="view-cattlestatus"></div>
	        </li> 
	        <li>
	        	<div class="col-md-4"><b>Created on</b><span class="pull-right paddingR20 hidden-xs">:</span></div>
	        	 <div class="col-md-8 cattleDtlsViewColn" data-view-key="cattlecreateddt"></div>
	        </li>
    	</ul>
    		</div>
    </div> <!-- /col-sm-6 -->