html {
  position: relative;
  min-height: 100%;
}
body {
  background: url('../../common/images/bg.jpg') no-repeat center center fixed;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
   background-size: cover;
   font-family: 'robotolight';
   /* padding-bottom:60px; */
}
@font-face {
    font-family: 'robotolight';
    src: url('../../common/fonts/Roboto/Roboto-Light-webfont.eot');
    src: url('../../common/fonts/Roboto/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../common/fonts/Roboto/Roboto-Light-webfont.woff2') format('woff2'),
         url('../../common/fonts/Roboto/Roboto-Light-webfont.woff') format('woff'),
		 url('../../common/fonts/Roboto/Roboto-Light-webfont.svg#robotolight') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'robotoregular';
    src: url('../../common/fonts/Roboto//RobotoRoboto-Regular-webfont.eot');
    src: url('../../common/fonts/Roboto//Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../common/fonts/Roboto//Roboto-Regular-webfont.woff2') format('woff2'),
         url('../../common/fonts/Roboto//Roboto-Regular-webfont.woff') format('woff'),
         url('../../common/fonts/Roboto//Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
.clearfix::after {
    clear: both;
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
}
/*common styles*/
.h1, .h2, .h3, h1, h2, h3 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.table th {
  font-family: robotoregular;
  color: #fff;
  font-weight: 100;
}

.fa-inactive{color:#990000}
.fa-active{color:#1E7145}
.block{display: block}
li{list-style:none}
.center-box {
    margin: 0 auto;
    padding: 10px;
    position: relative;
    top: 30%;
    transform: translateY(-30%);
}
.my-control, .my-control1 {
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    display: block;
    font-size: 14px;
    height: 34px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}
.my-control{ width: 100%;}
.max-width img {
	max-width: 100%
}
.common-lists{padding: 0}
.common-lists li{float: left}
.relative{position:relative}
.paddingT20{padding-top:20px}
.padding-zero{padding:0}
.padding-R10{padding-right:10px}
.marginT5{margin-top:5px}
.marginT30{margin-top:30px}
.cstyle .modal-header,.cstyle .modal-footer{border:none}
.cstyle .modal-footer{padding-top:0}
.cstyle .modal-content{background:rgba(255,255,255,.9); border-radius:0}
.navbar-toggle {
    border-color: #ddd;
}
.navbar-toggle .icon-bar {
    background-color: #888;
}
.breadcrumb {
    background: none;
    border-radius: 0;
    padding: 8px 0;
	margin:0;
}
textarea.my-control{height:auto}
.current a{color:#fff !important}
/*common styles ends*/
/*colors starts*/
.grey-btn{background:#8e98a1;border-color:#8e98a1 !important;}
.white{color:#fff}
.opacity-white{background:rgba(255,255,255,.7)}
/*colors ends*/
.full-wrapper {
/* 	width: 100%;
	height: 100%; */
	position: relative;
}
.login-wrapper {
	position: relative;
	top: 40%;
	transform: translateY(-40%);
	margin:0 auto;
	width:320px;
	padding:10px;
}
.links-wrapper{
	position: relative;
	bottom: 20%;
	transform: translateY(-40%);
	margin:0 auto;
	width:320px;
	padding:10px;
}
.login-footer {
    display: block;
    margin: 10px 0;
}
.sign-in .input-group-addon{border:1px; border-radius:0}
.separator {
    background: url("../images/separator.png") no-repeat scroll center center rgba(0, 0, 0, 0);
    display: block;
    height: 2px;
    width: 100%;
}
.user-pic {
  background: none repeat scroll 0 0 #fff;
  border-radius: 100%;
  height: 32px;
  margin-right: 5px;
  overflow: hidden;
  width: 32px;
  border: 2px solid #709c35;
  padding: 3px;
  margin-top: 8px;
}
.user-name {
   	padding: 0 10px 0 0;
    line-height: 50px;
    color:#fff
}
.my-nav{background:none; border:none}
.footer {
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  padding:10px 0;
}
.navbar-brand {
    padding: 8px 3px 2px 24px;
}
.navbar-nav > li > a {
    padding-top: 10px;
}
/*reports and alerts toggler*/

/*dashboard menu style starts*/
.ca-menu{
    padding:0;
    margin:100px 0 0;
    text-align:center;
    /* remove following code for old dashboard menu**/
    border-radius:10px;
/*     border:5px solid #fff; */
    display:inline-block;
    width:100%;
    overflow:hidden
    /***/
}
.ca-menu li{
	min-height:157px;
    padding:28px 0;
    overflow: hidden;
    position: relative;
    background: rgba(255,255,255,.4);
    margin: 0;
	border-image-source:url(../images/divider.png);
  	border-image-width: 157px 4px 0 0;
}
.ca-menu li:hover{
    background: rgba(255,255,255,.8); transition:ease 1s;
}
.ca-menu li.active{background: rgba(255,255,255,.6);}
.ca-menu li:last-child{
    border:none
}
.ca-menu li a{
    text-align: left;
    width: 100%;
    height: 100%;
    display: block;
    color: #333;
    position: relative;
}
.launch-icon {background:url(../images/Sprite.png) 0 0 no-repeat; width:88px; height:64px;margin:0 auto 10px;transition:ease 1s;}
.ca-menu li:hover .launch-name{color:#4a2d1d}
.farm-details{background-position:-88px 0}
.ca-menu li:hover .farm-details{background-position:0 0}
.cattle-details{background-position:-88px -64px}
.ca-menu li:hover .cattle-details{background-position:0 -64px}
.health-care{background-position:-88px -128px}
.ca-menu li:hover .health-care{background-position:0 -128px}
.breeding{background-position:-88px -192px}
.ca-menu li:hover .breeding{background-position:0 -192px}
.profile{background-position:-88px -256px}
.ca-menu li:hover .profile{background-position:0 -256px}
.milk-production{background-position:-88px -320px}
.ca-menu li:hover .milk-production{background-position:0 -320px}
.admin-logo{width:60px;}
.logo-title {
    color: #ffffff;
    float: left;
    font-size: 17px;
    padding: 12px 0 0;
}
/*dashboard menu style ends*/
/*side menu css*/
.mini-submenu{
  display:none;  
  background-color: rgba(0, 0, 0, 0);  
  padding: 9px;  
  /*position: relative;*/
  width: 42px;

}

.mini-submenu:hover{
  cursor: pointer;
}

.mini-submenu .icon-bar {
  border-radius: 1px;
  display: block;
  height: 2px;
  width: 22px;
  margin-top: 3px;
}

.mini-submenu .icon-bar {
  background-color: #000;
}

#slide-submenu{
  padding: 0 8px;
  border-radius: 4px;
  cursor: pointer;
  position:absolute;
  right:15px;
  z-index:1
}
.lists{background:#fff}
.dataTables_wrapper.form-inline.dt-bootstrap.no-footer {
    width: 99%;
}
.dataTables_filter, .dataTables_paginate{float:right}
.delete-btn{
  position: absolute;
  right: 7px;
  top: 7px;
}
#assignvetfarmdelbtn {
 display:none;	
}
#saveMsg{
       color: green;
  font-weight: bold;
  display: none;
       }

a.vet-approveLink { min-width: 120px; display: inline-block; }
/***** off or on button starts *****/
#btn-toggler{padding:0}
ul#btn-toggler li{
    float:left;
    line-height:20px;
    font-size:11px;
    padding:4px 10px; 
    background: #E5E5E5;
    background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#F3F3F3), to(#E5E5E5));
    text-shadow:0 1px 0 #FFF;
}
ul#btn-toggler li a{
    text-decoration: none;
    color:#a1a1a1;
}

ul#btn-toggler li.on{
    background: #505050;
    background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#777), to(#505050));
    text-shadow:0 -1px 0 #444, 0 0 7px #9AE658;
    -webkit-box-shadow:0 1px 2px rgba(0, 0, 0, .7) inset, 0 1px 0 #FFF;  
}

ul#btn-toggler li:not(.on):active{
    background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#ddd), to(#f1f1f1));
}


ul#btn-toggler li.on a{
    color:#7BBA47;
    cursor: default;
}
#cmscommonMsg{
	display: none;
}
/*  */
.link-active {
background: #210D03 !important;
}
.table.dataTable {
	width: 100%!important;
}	
	
.cms-ipt-error {
 display: none; 
font-weight: bold;
line-height: 76px;
}
/***** off or on button ends *****/




/***** boostrap typeahead starts here *****/
.twitter-typeahead{width: 100%}
.typeahead {
  background-color: #fff;
}

.typeahead:focus {
  border: 2px solid #0097cf;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-menu {
  width: 100%;
  margin: 0;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 13px;
  line-height: 24px;
}

.tt-suggestion:hover {
  cursor: pointer;
  color: #fff;
  background-color: #4A2D1D;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #4A2D1D;

}

.tt-suggestion p {
  margin: 0;
}


.admin-dashboard-box{
  margin: 0 auto;
  padding: 10px;
  position: relative;
}
.content-outer{
	display:block;
	overflow:hidden;
}
.subPageContent{
	clear:both;
}


.grey-btn:hover{
	background-color:#371F12;
	border-color:#371F12;
}
/***** boostrap typeahead ends here *****/


/*media queries*/
@media (max-width:767px) {
	.my-nav .nav > li{float:left}
	.my-nav .navbar-right{float:right;}
	.navbar-collapse{background:rgba(255,255,255,.6)}
	.center-box {
    margin: 100px auto;
    padding: 10px;
    position: relative;
    top: 15%;
    transform: translateY(-10%);
	}
	.full-wrapper {
    height: auto;
    position: relative;
    width: 100%;
}
.ca-menu{
    padding:0;
    margin:20px 0 0;
    text-align:center;
    border-radius:10px;
}
.ca-menu li{border:none;}
.logo-title {
    color: #000;
    float: left;
    font-size: 15px;
    padding: 20px 15px 0;
}
.admin-logo{width:auto}
}
	}
	
	 
	