.dark-green {background: none repeat scroll 0 0 rgba(30, 113, 69, 0.6);}
.darker-green{background: none repeat scroll 0 0 rgba(9, 84, 45, 0.6);}
.light-green{background: none repeat scroll 0 0 rgba(58, 139, 96, 0.6);}
.lighter-green{background: none repeat scroll 0 0 rgba(100, 170, 133, 0.6);}