.form-group label{font-family: "robotoregular";}
.item .thumb {
	width: 25%;
	cursor: pointer;
	float: left;
}
.item .thumb img {
	max-width: 100%;
	margin: 2px;
}
.item img {
	max-width: 100%;	
}
.slider-block {
    border: 1px solid #ccc;
    padding: 10px;
    background: #fff;
    display: inline-block;
    width: 100%;
}
.detailed-view{padding:10px; border:1px solid #fff;background:rgba(255,255,255,.2)}
.detailed-view li{padding:5px 0; display:inline-block; width:100%;border-bottom:1px solid #fefefe;font-size:12px}
.detailed-view li:last-child{border:none}
.option-buttons {min-height:30px;width:210px; margin:5px 0 0;display:inline-block}
.option-buttons li{float:left;padding:0 5px}
.option-buttons .btn{padding:5px}
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
.block .checkbox, .block .radio{margin:0 0 10px 0}
.block .form-group{width:100%;float:left }
.red{color:#990000}
.thumbnail-wrapper{width:70px; float:left;margin:0 1px;position:relative;height:70px;background:rgba(255,255,255,.3);padding:5px}
.thumbnail-wrapper img{max-height:100%}
.delete-button {
  position: absolute;
  right: 1px;
  top: -10px;
  background: #990000;
  padding: 0 4px;
	border-radius:5px;
}
.img-active{border:4px solid #7BBA47;}
.delete-button a{color:#fff}
.checker-wrap{width:20px;}
.checker-wrap .my-control{box-shadow:none;margin:0;height:20px}
.inner-cont-sec h2{border-bottom:1px dotted #4a2d1d;padding-bottom:5px}
#saveMsg{
       color: green;
  font-weight: bold;
  display: none;
  margin-left: 20px;
       }
       
       .content{
	overflow: auto;
	position: relative;
	height: 450px;
	-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;
}
#subPageMsg{
  font-weight: bold;
  display: none;
  margin-left: 20px;
}
#subPageMsg.formmsg-success{
 color: green;
}
#subPageMsg.formmsg-error{
 color: red;	
}		
/* FireFox override to eliminate always-present red border */
input:invalid {
    box-shadow: none !important;
}
input:invalid {
    outline: none !important;
}
 textarea:invalid {
    box-shadow: none !important;
}
textarea:invalid {
    outline: none !important;
}

.dataTables_wrapper .row:last-child { border-top: 1px solid #bfb7b0; padding: 10px 0; margin: 0; }


.button-holder ul{padding:0}
.button-holder ul li {
    display: inline-block;
    line-height: 26px;
    list-style: outside none none;
    text-transform: uppercase;
	padding:0 5px
}
.regular-radio {
    display: none;
}
.regular-radio + label {
    background-color: #fafafa;
    border: 2px solid #cacece;
    border-radius: 50px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 -15px 10px -12px rgba(0, 0, 0, 0.05) inset;
    float:left;
    padding: 11px;
    position: relative;
	margin:0 5px 0 0

}
.regular-radio + label:before {
    background: none repeat scroll 0 0 #FDFDFD;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3) inset;
    content: " ";
    font-size: 36px;
    height: 12px;
    left: 5px;
    position: absolute;
    top: 5px;
    width: 12px;
}
.regular-radio:checked + label:after {
    background: none repeat scroll 0 0 #94E325;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3) inset;
    content: " ";
    font-size: 36px;
    height: 12px;
    left: 5px;
    position: absolute;
    top: 5px;
    width: 12px;
}
.regular-radio:checked + label {
    background-color: #e9ecee;
    border: 2px solid #adb8c0;
    color: #99a1a7;
    padding: 11px;
}
.regular-radio + label:active, .regular-radio:checked + label:active {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 1px 3px rgba(0, 0, 0, 0.1) inset;
}
.disbaledFormField.form-control[readonly] {
  background-color: #fff;
}
.modalFormMsg-alert {
  padding: 5px;
  margin-bottom: 0px;
  border: 1px solid transparent;
  border-radius: 4px;
  display: none;
}
textarea {
   resize: none;
}
.chosen-container {
	width:100% !important;
}	

.overlay {
  background: rgba(255,255,255,0.8);
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1234;
  top: 0;
  display: none;
}

.common-loader{
	position:absolute;
	top: 50%;
    -ms-transform: translateY (-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY (-50%);
	-o-transform: translateY (-50%);
	transform: translateY(-50%);
	left: 50%;
    -ms-transform: translateX (-50%);
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX (-50%);
	-o-transform: translateX (-50%);
	transform: translateX(-50%);
	z-index:12345;
	  display: none;
}

/*-----------------------CSS LOADER----------------------------*/
#fadingBarsG{
position:relative;
width:100px;
height:12px}

.fadingBarsG{
position:absolute;
top:0;
background-color:#594031;
width:12px;
height:12px;
-moz-animation-name:bounce_fadingBarsG;
-moz-animation-duration:0.9s;
-moz-animation-iteration-count:infinite;
-moz-animation-direction:normal;
-moz-transform:scale(.3);
-webkit-animation-name:bounce_fadingBarsG;
-webkit-animation-duration:0.9s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-direction:normal;
-webkit-transform:scale(.3);
-ms-animation-name:bounce_fadingBarsG;
-ms-animation-duration:0.9s;
-ms-animation-iteration-count:infinite;
-ms-animation-direction:normal;
-ms-transform:scale(.3);
-o-animation-name:bounce_fadingBarsG;
-o-animation-duration:0.9s;
-o-animation-iteration-count:infinite;
-o-animation-direction:normal;
-o-transform:scale(.3);
animation-name:bounce_fadingBarsG;
animation-duration:0.9s;
animation-iteration-count:infinite;
animation-direction:normal;
transform:scale(.3);
}

#fadingBarsG_1{
left:0;
-moz-animation-delay:0.36s;
-webkit-animation-delay:0.36s;
-ms-animation-delay:0.36s;
-o-animation-delay:0.36s;
animation-delay:0.36s;
}

#fadingBarsG_2{
left:13px;
-moz-animation-delay:0.45s;
-webkit-animation-delay:0.45s;
-ms-animation-delay:0.45s;
-o-animation-delay:0.45s;
animation-delay:0.45s;
}

#fadingBarsG_3{
left:25px;
-moz-animation-delay:0.54s;
-webkit-animation-delay:0.54s;
-ms-animation-delay:0.54s;
-o-animation-delay:0.54s;
animation-delay:0.54s;
}

#fadingBarsG_4{
left:38px;
-moz-animation-delay:0.63s;
-webkit-animation-delay:0.63s;
-ms-animation-delay:0.63s;
-o-animation-delay:0.63s;
animation-delay:0.63s;
}

#fadingBarsG_5{
left:50px;
-moz-animation-delay:0.72s;
-webkit-animation-delay:0.72s;
-ms-animation-delay:0.72s;
-o-animation-delay:0.72s;
animation-delay:0.72s;
}

#fadingBarsG_6{
left:63px;
-moz-animation-delay:0.81s;
-webkit-animation-delay:0.81s;
-ms-animation-delay:0.81s;
-o-animation-delay:0.81s;
animation-delay:0.81s;
}

#fadingBarsG_7{
left:75px;
-moz-animation-delay:0.9s;
-webkit-animation-delay:0.9s;
-ms-animation-delay:0.9s;
-o-animation-delay:0.9s;
animation-delay:0.9s;
}

#fadingBarsG_8{
left:88px;
-moz-animation-delay:0.99s;
-webkit-animation-delay:0.99s;
-ms-animation-delay:0.99s;
-o-animation-delay:0.99s;
animation-delay:0.99s;
}

@-moz-keyframes bounce_fadingBarsG{
0%{
-moz-transform:scale(1);
background-color:#594031;
}

100%{
-moz-transform:scale(.3);
background-color:#FFFFFF;
}

}

@-webkit-keyframes bounce_fadingBarsG{
0%{
-webkit-transform:scale(1);
background-color:#594031;
}

100%{
-webkit-transform:scale(.3);
background-color:#FFFFFF;
}

}

@-ms-keyframes bounce_fadingBarsG{
0%{
-ms-transform:scale(1);
background-color:#594031;
}

100%{
-ms-transform:scale(.3);
background-color:#FFFFFF;
}

}

@-o-keyframes bounce_fadingBarsG{
0%{
-o-transform:scale(1);
background-color:#594031;
}

100%{
-o-transform:scale(.3);
background-color:#FFFFFF;
}

}

@keyframes bounce_fadingBarsG{
0%{
transform:scale(1);
background-color:#594031;
}

100%{
transform:scale(.3);
background-color:#FFFFFF;
}

}

/*-----------------------CSS LOADER----------------------------*/
.table {min-width:800px !important}


@media (max-width:767px) {
div.dataTables_info {
	white-space: normal !important; 
}
}
