.dark-green {background: none repeat scroll 0 0 rgba(54, 28, 14, 0.6);} 
.darker-green{background: none repeat scroll 0 0 rgba(33, 13, 3, 0.6);} 
.light-green{background: none repeat scroll 0 0 rgba(77, 46, 30, 0.6);} 
.lighter-green{background: none repeat scroll 0 0 rgba(140, 107, 89, 0.6);}
.link-active{background: #210D03 !important}