<!-- Add Kid Breeding  -->
<div class="modal cstyle fade" id="cms-vet-healthcare-vaccine-modal" tabindex="-1" role="dialog" aria-labelledby="RegisterLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title cmsModalTitle" >Add Vaccination </h4>
        <div class="alert alert-danger modalFormMsg-alert" role="alert">
      		<div class="modalFormMsg"></div>
    	</div>
        		
      </div>
      <div class="modal-body">
            <div class="row ">
            	<div class="col-sm-12">
            		<span id="failed_msg" class="alert alert-danger blocker hidden" role="alert">Failed to Save</span>
            	</div>
            </div>
  
        <form id="cms-vet-hc-vaccination-form" method="post"  autocomplete="off">
        
        <div class="row">
        	<div class="col-sm-6">
        	<div class="form-group">
           	 	<label for="healthcareselectRoutineAdmin">Select a Routine of Administration <span class="red">*</span></label>
           	 	   <select data-placeholder="Select a Routine of Administration "
					class="form-control chzn-select form-dt" data-refer="vaccination"
					data-field="type" name="vaccroutine" tabindex="2"
					id="healthcareselectRoutineAdmin">
					<option value="IM">IM</option>
					<option value="SQ">SQ</option>
					<option value="IV">IV</option>
					<option value="IP">IP</option>
					<option value="PO">PO</option>
				</select>
          	</div>
        	</div>
        	<div class="col-sm-6">
        		 <div class="button-holder form-group">		       
		          	<label for="type">Select a Vet/Paravet <span class="red">*</span></label>		         
		     		<select data-placeholder="Select a Vet/Paravet " class="form-control chzn-select form-dt" name="vetid" tabindex="2" id="hcvetid">
		             <option value=""></option>
		         	</select> 
				</div>
       		</div>  
        </div>
        
        
        <div class="row">
        	<div class="col-sm-6">
        	<div class="form-group">
           	 	<label for="password">Date of Vaccination <span class="red">*</span></label>
           	 	   <div class="input-group">
            	<input type="text" class="form-control my-control form-dt-date disbaledFormField" maxlength="49" id="hcvaccnDateVaccination" name="vaccvaccinationdt" placeholder="Date of Vaccination" >
            	   <span class="input-group-addon" id="hcvaccnDateVaccination-calen"><i class="fa fa-calendar"></i></span>
               </div>
          	</div>
        	</div>
        	<div class="col-sm-6">
        	<div class="form-group">
           	 	<label for="password">Date of Next Vaccination </label>
           	 	   <div class="input-group">
            	<input type="text" class="form-control my-control form-dt-date disbaledFormField" maxlength="49" id="hcvaccnNextVaccination" name="vaccnextvaccdt" placeholder="Date of Next Vaccination " >
            	   <span class="input-group-addon" id="hcvaccnNextVaccination-calen"><i class="fa fa-calendar"></i></span>
               </div>
          	</div>
        	</div>
        </div>
        
        <div class="row">        	
        	<div class="col-md-6">        	  	
	        	<div class="form-group"> 
        	  		<label for="select-farm">Select a Vaccination <span class="red">*</span></label>
		     		<select data-placeholder="Select a Vaccination  " class="form-control chzn-select form-dt-refer"  data-refer="objVaccinationEntity" data-field="vaccinationid"  name="vaccinationid" tabindex="2" id="hcvaccnName">
		             <option value=""></option>
		         	</select> 
	         	</div>    
         	</div>  
         	<div class="col-sm-3">
        		 <div class="form-group">
            	<label for="lastname">Vaccine Dose <span class="red">*</span></label>
            	<input type="text" class="form-control my-control form-dt float-only" maxlength="10"  name="vaccdose" id="hcvaccnVaccineDose" placeholder="Vaccine Dose" >
          		</div>
        	</div>
         	<div class="col-sm-3">
        		 <div class="form-group">
            	<label for="lastname">Vaccine Unit</label>
            	<input type="text" class="form-control my-control form-dt" maxlength="10"  name="vaccinationunit" id="hcvaccnVaccineUnit" placeholder="Vaccine Unit" disabled="disabled">
          		</div>
        	</div>
         	     	
        </div>        
        
             
	        <div class="row">        
        	<div class="col-sm-12">
        		 <div class="form-group">
					<div class="col-md-12 padding-zero">
						<label for="weight">Medication Given</label>

						<textarea class="my-control  form-dt user-success" name="vacchctypecomments" id="vacchctypecomments" rows="6" maxlength="5000"></textarea>
					</div>

					<div class="col-md-12 red cms-ipt-error">
						<small>*</small>
					</div>
				</div>
        	</div>
        </div>

            
        <div class="modal-footer">
	        <div class="row">

	          		<input type="hidden" class=""  name="id" value="0" id="hcvaccn-vaccid" /> 
	          		<input type="hidden" class="form-dt"  name="createddt" value="0" id="hcvaccn-createddt" /> 
	          		<input type="submit" class="btn btn-success grey-btn pull-left" id="hcVaccinSubmit" value="submit"/>
	         		<input type="button" class="btn btn-default  pull-left" id="hcVaccinReset" value="reset"/>
	         		<input type="button" class="btn btn-danger  pull-left" id="hcVaccinCancel" value="cancel"/>
	          		

	        </div>	        
     	 </div>
        </form>
      </div>
 
    </div>
  </div>
</div>






<!-- Add Kid Breeding  -->
<div class="modal cstyle fade" id="cms-vet-healthcare-deworm-modal" tabindex="-1" role="dialog" aria-labelledby="RegisterLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title cmsModalTitle" >Add Routine Deworming  </h4>
        <div class="alert alert-danger modalFormMsg-alert" role="alert">
      		<div class="modalFormMsg">Successfully saved</div>
    	</div>
        		
      </div>
      <div class="modal-body">
            <div class="row ">
            	<div class="col-sm-12">
            		<span id="failed_msg" class="alert alert-danger blocker hidden" role="alert">Failed to Save</span>
            	</div>
            </div>
  
        <form id="cms-routine-deworming-form" method="post"  autocomplete="off">
        
             <div class="row">
        	<div class="col-sm-6">
        	<div class="form-group">
           	 	<label for="password">Date of Routine Deworming<span class="red">*</span></label>
           	 	   <div class="input-group">
            	<input type="text" class="form-control my-control form-dt-date disbaledFormField" maxlength="49" id="hcdewormDateVaccination" name="vaccvaccinationdt" placeholder="Date of Routine Deworming" required>
            	   <span class="input-group-addon" id="hcdewormDateVaccination-calen"><i class="fa fa-calendar"></i></span>
               </div>
          	</div>
        	</div>
        	<div class="col-sm-6">
        	<div class="form-group">
           	 	<label for="password">Date of Next Routine Deworming </label>
           	 	   <div class="input-group">
            	<input type="text" class="form-control my-control form-dt-date disbaledFormField" maxlength="49" id="hcdewormNextVaccination" name="vaccnextvaccdt" placeholder="Date of Next Routine Deworming " required>
            	   <span class="input-group-addon" id="hcdewormNextVaccination-calen"><i class="fa fa-calendar"></i></span>
               </div>
          	</div>
        	</div>
        </div>
        
        <div class="row">  
        	<div class="col-sm-6">
        		 <div class="button-holder form-group">		       
		          	<label for="type">Select a Vet/Paravet<span class="red">*</span></label>		         
		     		<select data-placeholder="Select a Vet/Paravet " class="form-control chzn-select form-dt" name="vetid" tabindex="2" id="hcdewormvetid">
		             <option value=""></option>
		         	</select> 
				</div>
       		</div>         	
        </div>
        

        
        
        <div class="row">        
        	<div class="col-sm-12">
        		 <div class="form-group">
					<div class="col-md-12 padding-zero">
						<label for="weight">Medication Given</label>

						<textarea class="my-control  form-dt user-success" name="vacchctypecomments" id="hcdewormtypecomments" rows="6" maxlength="5000"></textarea>
					</div>

					<div class="col-md-12 red cms-ipt-error">
						<small>*</small>
					</div>
				</div>
        	</div>
        </div>
        

        
        
            
        <div class="modal-footer">
	        <div class="row">
	        		<input type="hidden"  class="" name="vaccid" value="true" id="hcdeworming-vaccid" /> 
	          		<input type="hidden" class="form-dt"  name="createddt" value="0" id="hcdeworming-createddt" /> 
	         		<input type="submit" class="btn btn-success grey-btn pull-left" id="hcdewormingSubmit" value="submit"/>
	         		<input type="button" class="btn btn-default  pull-left" id="hcdewormingReset" value="reset"/>
	         		<input type="button" class="btn btn-danger  pull-left" id="hcdewormingCancel" value="cancel"/>
	        </div>	        
     	 </div>
        </form>
      </div>
 
    </div>
  </div>
</div>














