<div class="row">
	<div class="col-sm-12">
	<div class="pull-right"> <a class="btn btn-default" href="javascript:void(0)" onclick="window.history.back();"> <i class="fa fa-arrow-circle-o-left"></i> Back</a> </div>
	<h2 id="cmsfarmSaveTitle">Add Farm</h2>
	

</div>     
</div>
<form id="cms-saveFarm-form" method="post"  autocomplete="off">
<div class="row">
	<div class="col-sm-6">
		 <div class="form-group">
                <label for="farmname">Farm Name <span class="red">*</span></label>
                <input type="text" pattern=".*\S+.*" class="my-control form-dt" name="farmname" id="farmname" placeholder="Enter Farm Name" maxlength='30' required>
              </div>
	</div>
</div>
<div class="row">
	<div class="col-sm-6">
		 <div class="form-group">
                <label for="farmlocation">Farm Location <span class="red">*</span></label>
                <input type="text"  pattern=".*\S+.*"  class="my-control form-dt" name="farmlocation" id="farmlocation" placeholder="Enter Farm Location" maxlength='30' required>
              </div>
	</div>
</div>
<div class="row">
	<div class="col-sm-6">
		  <div class="form-group">
                	<label for="farmlocation">Farm Status</label>
					<div class="on-off-toggle">
					<ul id="btn-toggler" class="form-dt-onOff" data-input-name="farmstatus">
					    <li class="btn-on-off" data-val="false"><a href="javascript:void(0)">Inactive</a></li>
					    <li class="on btn-on-off"  data-val="true" ><a href="javascript:void(0)">Active</a></li>
					</ul>
					</div>
					<div class="clearfix"></div>
			 	</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-6">
	 <div class="form-group">
                <label for="exampleInputPassword1">Farm Address <span class="red">*</span></label>
                <textarea class="my-control  form-dt"  pattern=".*\S+.*"  name="farmaddress" id="farmaddress" rows="3" maxlength='251'  required></textarea>
              </div>
	</div>
</div>


<div class="row">
	<div class="col-sm-6">
	<input type="hidden" class="form-dt" name="farmid" value="0" id="farmid" />
	<input type="hidden" class="form-dt" name="createddt" value="0" id="farm-createddt" />
              		<input type="submit" class="btn btn-success grey-btn " value="Save" id="cms-saveFarmBtn"/>
                    <input type="reset" class="btn btn-default  " value="Reset"  id="cms-resetFarmBtn"/>
	</div>
</div>
</form>
