<div class="row">
	<div class="col-sm-12">
	
		<div class="pull-right"> <a class="btn btn-default" href="javascript:void(0)" onclick="window.history.back();"> <i class="fa fa-arrow-circle-o-left"></i> Back</a> </div>
       			<h2 id="cmsOwnerSaveTitle">Add Owner</h2>

    </div>
</div>

<div>
       		<form id="cms-saveOwner-form" method="post"  autocomplete="off" >
       		<div class="row">
       		 <div class="col-sm-6">
	       			<div class="form-group">
	                <label for="ownerfname">First Name <span class="red">*</span></label>
	                <input type="text" pattern=".*\S+.*" class="my-control form-dt" name="userfname" id="ownerfname" placeholder="Enter first name" maxlength='25' required>
	              </div>
       			</div>
       			<div class="col-sm-6">
       				<div class="form-group">
                <label for="ownerlname">Last Name <span class="red">*</span></label>
                <input type="text"  pattern=".*\S+.*"  class="my-control form-dt" name="userlname" id="ownerlname" placeholder="Enter last name" maxlength='25' required>
              </div>
       			</div>
       			
       		</div>
       	
       		<div class="row">
       		<div class="col-sm-6">
       			 <div class="form-group">
                <label for="owneremail">Email <span class="red">*</span></label>
                <input type="text"  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"  class="my-control form-dt" name="useremail" id="owneremail" placeholder="Enter Email" maxlength='30' required>
              </div>
       			</div>
       			<div class="col-sm-6">
       				 <div class="form-group">
                <label for="username">User Name <span class="red">*</span></label>
                <input type="text"  pattern=".*\S+.*"  class="my-control form-dt no-white" name="username" id="username" placeholder="Enter UserName" maxlength='15' required>
              </div>
       			</div>
       			
       		</div>
       		<div class="row" id="passwordHolder"><!-- This is hidden for Edit Mode -->
       			<div class="col-sm-6">
       			<div class="form-group">
                <label for="password">Password <span class="red">*</span></label>
                <input type="password" title="Password must contain at least 6 characters, including UPPER/lowercase and numbers."   pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}"  class="my-control form-dt no-white" name="password" id="password" placeholder="Enter Password" maxlength='30' required>
              </div>
       			</div>
       			<div class="col-sm-6">
       			 <div class="form-group">
                <label for=repassword>Re-Enter Password <span class="red">*</span></label>
                <input  type="password"  pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}"  class="my-control no-white" name="repassword" id="repassword" placeholder="Re-Enter Password" maxlength='30' required >
              </div>
       			</div>
       		</div>
       		
       			<div class="row">
       			<div class="col-sm-6">
       			 <div class="form-group">
                <label for="ownerphone">Phone Number <span class="red">*</span></label>
                <input type="text"  class="my-control form-dt nu-only" name="userphone" id="ownerphone" placeholder="Enter Phone Number" maxlength='15' required>
              </div>
       				
       			</div>
       			<div class="col-sm-6">
       			<div class="form-group">
                <label for="ownerlocation">Location <span class="red">*</span></label>
                <input type="text"  pattern=".*\S+.*"  class="my-control form-dt" name="userlocation" id="ownerlocation" placeholder="Enter Location" maxlength='30' required>
              </div>
       			</div>
       		</div>
       		
       		<div class="row">
       			<div class="col-sm-6">
       			<div class="form-group">
                <label for="owneraddress">Address <span class="red">*</span></label>
                <textarea class="my-control  form-dt"  pattern=".*\S+.*" name="useraddress" id=" owneraddress" rows="3" maxlength='251'  required></textarea>
              </div>
       			</div>
       				<div class="col-sm-6">
       				 <div class="form-group">
                	<label for="ownerstatus">Status <span class="red">*</span></label>
					<div class="on-off-toggle">
					<ul id="btn-toggler" class="form-dt-onOff" data-input-name="isactive">
					    <li class="btn-on-off" data-val="false"><a href="javascript:void(0)">Inactive</a></li>
					    <li class="on btn-on-off"  data-val="true" ><a href="javascript:void(0)">Active</a></li>
					</ul>
					</div>
					<div class="clearfix"></div>
			 	</div>
       			</div>
       		</div>
       		
       		<div class="row">
				<div class="col-sm-6">
	 			<div class="form-group">
	 			 <label for="owneraddress">Search Farm</label>
	 			 <input type="text"  pattern=".*\S+.*"  class="my-control" name="farmcode" id="farmcode"  placeholder="Farm Name" maxlength='30'>
     			</div>
			</div>
			<div class="col-sm-4">
				<div class="col-md-6 red cms-ipt-error" id="ipt-er-assignfarmid"><small>*Assign Farm </small></div>
			</div>
		</div>
		
			<div class="row">
			<div class="col-sm-6">
				<ul class="common-lists">
					<li class="col-sm-5 padding-zero">
					<div class="form-group">
	 					<label for="owneraddress">Farm List</label>
	 			     	<select multiple="multiple" id="farmListSelect" class="form-control"></select>
	 				</div>
					</li>
					<li class="col-sm-2 padding-zero text-center">
			 			<div class="form-group marginT30">
			 			<input type="button" class="btn btn-default  " value=">"  id="addFarmSelectToList"/></br>
			 			 <input type="button" class="btn btn-default  " value="<"  id="removeFarmSelectToList"/>
			 			</div>
					</li>
					<li class="col-sm-5 padding-zero">
		 			<div class="form-group">
		 			 	<label for="owneraddress">Assign Farm <span class="red">*</span></label>
		 			     <select multiple="multiple" id="addedFarmList" class="form-control"></select>
		 			</div>
					</li>
				</ul>
			</div>
		</div>
		

		
       		<div class="row">
       			<div class="col-sm-12">
       				<input type="hidden" class="" name="owneruserid" value="0" id="owneruserid" />
        			<input type="hidden" class="" name="ownerid" value="0" id="ownerid" />
        				<input type="hidden" class="form-dt" name="createddt" value="0" id="ownerCreateddt" />
              		<input type="submit" class="btn btn-success grey-btn " value="Save" id="cms-saveOwnerBtn"/>
                    <input type="reset" class="btn btn-default  " value="Reset"  id="cms-resetOwnerBtn"/>
       			</div>
       		</div>
       		
       		</form>
 </div>