<div class="row">
	<div class="col-sm-12">
		<div class="pull-right"> <a class="btn btn-default" href="javascript:void(0)" onclick="window.history.back();"> <i class="fa fa-arrow-circle-o-left"></i> Back</a> </div>
   		<h2 id="cmsVetAssignTitle">Assign Farm</h2>
    </div>
</div>

<div>
       	<form id="cms-vetAssignFarm-form" method="post"  autocomplete="off" >
       		<div class="row">
       		 	<div class="col-sm-6">
	       			<div class="form-group">
	                <label for="selectvet">Vet</label>
	                <div class="input-wrap relative">
	                	<input type="text" class="my-control form-dt" name="selectvet" id="selectvet" placeholder="Select Vet" maxlength='30' data-provide="typeahead" >
	              		<span class="delete-btn">
	              			<a href="javascript:void(0);" id="assignvetfarmdelbtn"><i class="fa fa-times-circle"></i></a>
	              		</span>
	              	</div>
	              </div>
       			</div> 
       			<div class="col-sm-4">
					<div class="col-md-6 red cms-ipt-error" id="ipt-er-selectvet"><small>*Select a vet  </small></div>
				</div>      			
       		</div>      		
       		<div class="row">
				<div class="col-sm-6">
	 			<div class="form-group">
	 			 <label for="owneraddress">Search Farm</label>
	 			 <input type="text"  pattern=".*\S+.*"  class="my-control" name="vetassignfarmcode" id="vetassignfarmcode"  placeholder="Farm Name" maxlength='30'>
     			</div>
			</div>
			<div class="col-sm-4">
				<div class="col-md-6 red cms-ipt-error" id="ipt-er-vetassignfarmid"><small>*Assign Farm </small></div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<ul class="common-lists">
					<li class="col-sm-5 padding-zero">
							<div class="form-group">
	 			<label for="owneraddress">Farm List</label>
	 			     <select multiple="multiple" id="vetfarmListSelect" class="form-control"></select>
	 			</div>
					</li>
					<li class="col-sm-2 padding-zero text-center">
						<div class="form-group marginT30">
	 			 <input type="button" class="btn btn-default  " value=">"  id="addVetAssignToList"/></br>
	 			 <input type="button" class="btn btn-default  " value="<"  id="removeVetAssignToList"/>
	 			</div>
					</li>
					<li class="col-sm-5 padding-zero">
					<div class="form-group">
	 			 	<label for="owneraddress">Assign Farm</label>
	 			    <select multiple="multiple" id="vetassignFarmList" class="form-control"></select>
	 			</div>
					</li>
				</ul>
			</div>
		</div>
     	<div class="row">
     		<div class="col-sm-12">  
     			<input type="hidden" class="" name="uniqueSynckey" value="0" id="uniqueSynckey" />  
     			<input type="hidden" class="" name="assignvet-userId" value="0" id="assignvetuserId" />   				
      			<input type="hidden" class="" name="selectedVetId" value="0" id="selectedVetId" />
            	<input type="submit" class="btn btn-success grey-btn " value="Assign" id="cms-saveVetAssignFarmBtn"/>
                <input type="button" class="btn btn-default  " value="Reset"  id="cms-resetVetAssignFarmBtn"/>
     		</div>
     	</div>       		
      </form>
 </div>